@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

/* Global Styles */
:root {
  --primary-color: #bb2cdf;
  --dark-color: #39086b;
  --info-color: #00a4fc;
  --warning-color: #ffd105;
  --light-color: #fbaafa;
  --danger-color: #ff602b;
  --success-color: #97d80a;
  --mred-color: #f25749;
  --morange-color: #f29c50;
  --mpurple-color: #a663a1;
  --mgreen-color: #7dbf3b;
  --mblue-color: #41cbf3;
  --mdarkblue-color: #436cb2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

h2 {
  color: var(--dark-color);
}

ul {
  list-style: none;
}

/* Utilities */
.container {
  display: flex;
  max-width: 1100px;
  margin: 2rem 2% 0 2%;
  top: 0;
  overflow: hidden;
  padding: 0 2rem;
}

.startcontainer {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  margin: auto;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-success {
  color: var(--success-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* Center All */
.all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Cards */
.card {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
}

/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.1rem 0.5rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
}

.navbar ul {
  display: flex;
  margin: 0 3% 0 3%;
  width: 100%;
  align-items: space-around;
  justify-content: space-around;
}

.navbar ul li {
  margin: 0 2%;
  display: block;
}
.navbar ul li a {
  display: block;
  text-align: center;
  min-width: 8rem;
  color: white;
  font-size: larger;
  padding: 1.4rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.45);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Sidebar */
#sidebar {
  display: inline-flex;
  width: 15%;
  min-height: 30rem;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--mdarkblue-color);
  color: white;
  position: sticky;
  left: 0;
  top: 0;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom */
/* Banner 1 */

div.banner {
  display: block;
  width: 100%;
  height: 100px;
  background-color: var(--mdarkblue-color);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  min-height: 20rem;
  min-width: 25rem;
  margin: 2rem;
  padding: 0;
  background: white;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  border-radius: 10px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.45);
}

.card:hover .card-inner {
  transform: rotateX(180deg);
}

.front,
.back {
  border-radius: 10px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* Safari */
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 1rem;
  color: black;
}

.back {
  transform: rotateX(180deg);
  color: black;
  background-color: red;
}

// Slideshow

.slide-container {
  width: 100%;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 30rem;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}
