@import url("https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
/* Global Styles */
:root {
  --primary-color: #bb2cdf;
  --dark-color: #39086b;
  --info-color: #00a4fc;
  --warning-color: #ffd105;
  --light-color: #fbaafa;
  --danger-color: #ff602b;
  --success-color: #97d80a;
  --mred-color: #f25749;
  --morange-color: #f29c50;
  --mpurple-color: #a663a1;
  --mgreen-color: #7dbf3b;
  --mblue-color: #41cbf3;
  --mdarkblue-color: #436cb2;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

body {
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

p {
  margin: 1rem 0.1rem;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

.SVGHaus {
  width: 30%;
  min-width: 20rem;
  height: auto;
}

.SVGHaus .etage:hover {
  fill: var(--mgreen-color);
  cursor: pointer;
}

.stageVids {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 2rem;
}

/* Utilities */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1400px;
  width: 100%;
  margin: 2rem 2% 0 2%;
  top: 0;
  overflow: hidden;
  padding: 0 2rem;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  min-width: 100%;
  margin: auto;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-success {
  color: var(--success-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* Center All */
.all-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/* Navbar */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.1rem 0.5rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin: 1rem 2rem;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 5% 0 5%;
  width: 100%;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar ul li {
  display: block;
}

.navbar ul li a {
  display: block;
  text-align: center;
  min-width: 8rem;
  color: white;
  font-size: larger;
  padding: 1.4rem;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.45);
          box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.45);
}

/* Sidebar */
#sidebar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 20rem;
  height: 30rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background-color: var(--mdarkblue-color);
  color: white;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  border-radius: 0 0 5rem 0;
  top: 0;
}

#sidebar ul li {
  margin: 2.5rem 0 2rem 2.5rem;
  font-size: large;
  font-weight: bold;
}

/* Mobile Styles */
@media (max-width: 700px) {
  body {
    font-size: 0.8rem;
    line-height: 1.2;
    background-color: #fff;
  }
  div .banner {
    font-size: 2rem !important;
  }
  .card:active .card-inner {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  .navbar {
    display: none;
  }
  #sidebar {
    display: none;
  }
  .each-slide {
    height: 15rem;
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }
  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }
  .large {
    font-size: 2rem;
  }
  .lead {
    font-size: 1rem;
  }
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Custom */
/* Banner 1 */
div.banner {
  display: block;
  width: 100%;
  height: 100px;
  background-color: var(--mdarkblue-color);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1rem;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
  min-height: 20rem;
  min-width: 20rem;
  margin: 1rem;
  padding: 0;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.card h1 {
  font-size: 2.5rem;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-radius: 10px;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.45);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.45);
}

.card:hover .card-inner {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.front,
.back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-radius: 10px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* Safari */
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  padding: 1rem;
  color: black;
  background-color: white;
}

.back {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  color: black;
}

.slide-container {
  width: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.each-slide > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  height: 30rem;
}
/*# sourceMappingURL=App.css.map */